{% extends "./template.html" %}

{% block title %}{{ section.title }}{% endblock %}

{% block content %}

<!-- Slider main container -->
<div class="swiper-container swiper-container-h">
    <div class="swiper-wrapper">
        <div class="swiper-slide">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            Temperature Sensor
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading panel-full">
                            <div class="row">
                                <div class="col-xs-6">
                                    <span class="glyphicon glyphicon-sunglasses icon-large"></span>
                                </div>
                                <div class="col-xs-6">
                                    <p>Currently: </p>
                                        <span class="text-large"><br/>{{ temperature }} &#8451;</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            <div class="row">
                <div class="col-xs-12">
                    <div class="panel panel-warning">
                        <div class="panel-heading">
                            Light Sensor
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading panel-full">
                            <div class="row">
                                <div class="col-xs-6">
                                    <span class="glyphicon glyphicon-lamp icon-large"></span>
                                </div>
                                <div class="col-xs-6">
                                    <p>Currently: </p>
                                    <span class="text-large"><br/>210 lx</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="swiper-slide">
            {% include "./slides/v-slide-1.html" %}
        </div>
        <div class="swiper-slide">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12"><p class="text-center">Hier komt info over een sensoor ofzo</p></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-slide">
            <div class="row">
                <div class="col-xs-12">
                    <div class="row">
                        <div class="col-xs-12"><p class="text-center">Hier komt info over een sensoor ofzo</p></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}
{% block script %}
    <script>
        var swiperH = new Swiper('.swiper-container-h', {
        pagination: '.swiper-pagination-h',
        paginationClickable: true,
        spaceBetween: 50,
        nextButton: '#h-next-slide',
        prevButton: '#h-prev-slide'
    });
    var swiperV = new Swiper('.swiper-container-v', {
        pagination: '.swiper-pagination-v',
        paginationClickable: true,
        direction: 'vertical',
        nested: true,
        spaceBetween: 50
    });
    </script>
{% endblock %}