<div class="navigation">
    <div class="btn-group" role="group" aria-label="Basic example">
        <div class="navigation-block text-center">
            <span class="glyphicon glyphicon-menu-left"></span>
        </div>
        <div class="navigation-block text-center">
            <span class="glyphicon glyphicon-menu-up"></span>
        </div>
        <div class="navigation-block text-center">
            <span class="glyphicon glyphicon-menu-down"></span>
        </div>
        <div class="navigation-block text-center">
            <span class="glyphicon glyphicon-menu-right"></span>
        </div>
    </div>
</div>