<div class="swiper-slide">
    <div class="swiper-container swiper-container-light">
        <div class="swiper-wrapper">

            <div class="swiper-slide">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                Light Sensor
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading panel-full">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <span class="glyphicon glyphicon-lamp icon-large"></span>
                                    </div>
                                    <div class="col-xs-6">
                                        <p>Motor Status: <span class="glyphicon glyphicon-arrow-up"
                                                               id="light-motor"></span></p>
                                        <p>
                                            Currently:
                                            <span class="text-large"><br/><span id="light">{{ light }}</span> lx</span>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="panel panel-warning">
                            <div class="panel-heading">
                                Light History
                            </div>
                        </div>
                        <div class="panel panel-info">
                            <div class="panel-heading panel-full">
                                <div class="row">
                                    <div class="col-xs-12 text-center">
                                        HIGHCHART
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination swiper-pagination-light"></div>
    </div>
</div>