<div class="swiper-slide">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    When to roll out (in cm)
                </div>
            </div>
            <div class="panel panel-info">
                <div class="panel-heading panel-full">
                    <div class="row">
                        <div class="col-xs-8 col-xs-offset-2">

                            <div class="form-group">
                                <label for="roll_in_distance">Roll in at:</label>
                                <div class="input-group">
                                    <div class="input-group-addon minus" data-state="in">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </div>
                                    <input type="text" class="form-control" id="roll_in_distance" placeholder="Amount"
                                           value="{{ roll_in_distance }}">
                                    <div class="input-group-addon plus" data-state="in">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </div>
                                </div>
                            </div>

                            <div class="form-group">
                                <label for="roll_out_distance">Roll out at:</label>
                                <div class="input-group">
                                    <div class="input-group-addon minus" data-state="out">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </div>
                                    <input type="text" class="form-control" id="roll_out_distance" placeholder="Amount"
                                           value="{{ roll_out_distance }}">
                                    <div class="input-group-addon plus" data-state="out">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>